{{!< admin}}
<div class="container">
    <div class="mt-4">
    <h3>
        Thêm sản phẩm
    </h3>

    <form method="POST" action="/admin/products/store">
        <div class="form-group">
            <label for="name">Tên sản phẩm</label>
            <input type="text" class="form-control" id="name" name="name">           
        </div>
        <div class="form-group">
            <label for="loai">Hãng</label>
            <input type="text" class="form-control" id="loai" name="loai">           
        </div>
        {{!-- <div class="form-group">
        <label for="loai">Hãng điện thoại</label>
            <select class="form-control" id="loai" name="loai">
                {{#each hangs}}
                    <option value="{{_id}}">{{this.TenH}}</option>
                {{/each}}
            </select>
        </div> --}}

        <div class="form-group">
            <label for="mota">Mô tả sản phẩm</label>
            <input type="text" class="form-control" id="mota" name="mota">           
        </div>
        <div class="form-group">
            <label for="gia">Giá sản phẩm</label>
            <input type="text" class="form-control" id="gia" name="gia">           
        </div>
        <div class="form-group">
            <label for="gia2">Giá gốc sản phẩm</label>
            <input type="text" class="form-control" id="gia2" name="gia2">           
        </div>
        <div class="form-group">
            <label for="img">Ảnh</label>
            <input type="text" class="form-control" id="img" name="img">           
        </div>
        
    <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
</form>
</div>
</div>



