<div class="mt-4">
    <h3>
        Thêm sản phẩm
    </h3>

    <form method="POST" action="/hangs/store" >
        <div class="form-group">
            <label for="TenH">Tên hãng sản phẩm</label>
            <input type="text" class="form-control" id="TenH" name="TenH">           
        </div>

        <button type="submit" class="btn btn-primary">Thêm hãng sản phẩm</button>
    </form>
</div>